<div id="presentationCardFull" class="container-fluid">
  <div class="row py-5">
      <div class="container contenedor">
        <div class="col-12 bg-white rounded">
          
          <div class="row">
            <div class="col-12 slider-banner p-0">

                <a href="#" id="banner-prev" class="flecha-banner anterior" ><i class="fas fa-chevron-left"></i></a>
                <a href="#" id="banner-next" class="flecha-banner siguiente" ><i class="fas fa-chevron-right"></i></a>
  
              <div id="banner" class="banner">
                <img src="../../../assets/img/base/usuario/mesa2.png" class="slide active w-100" alt="">
                <img src="../../../assets/img/base/usuario/slide2.png" class="slide w-100" alt="">
                <img src="../../../assets/img/base/usuario/slide1.png" class="slide w-100" alt="">
                <img src="../../../assets/img/base/usuario/slide3.jpg" class="slide w-100" alt="">
              </div>

              
            </div>
          </div> <!-- End images row-->

          <div class="row">
              <div class="col-12 slider-info py-5"> 

                <div class="row">
                  <div class="col-12">
                    <a href="#" id="info-prev" class="flecha-info anterior"><i class="fas fa-chevron-left"></i></a>
                    <a href="#" id="info-next" class="flecha-info siguiente"><i class="fas fa-chevron-right"></i></a>

                    <section id="informacion" class="informacion w-100 text-center">
                      <article id="info" class="w-100">

                        <div class="slide active p-3">
                          <h2 class="nombre">Chema Alfonso</h2>
                          <p class="trabajo text-primary">Desarrollador web</p>
                          <p class="pais text-muted"><img src="./assets/img/base/banderaespana.png" alt="nacionalidad"> Alicante, España</p>
                        </div>
                        
                        <div class="slide p-3">
                          <h2 class="titulo text-dark">Desarrollo de apps web</h2>
                          <p class="subtitulo text-primary">
                              <strong class="text-info">Diseño y doy vida a veloces y modernas aplicaciones</strong> de fácil acceso, basadas en la nube y con las tecnologías mas actuales</p>
                        </div>
                        
                        <div class="slide p-3">
                          <h2 class="titulo">Desarrollo web personalizado</h2>
                          <p class="subtitulo text-primary">
                              <strong class="text-info">Creo para ti un espacio la web personalizado a tu gusto</strong>, con las últimas tecnologias, gran adaptabilidad a todo tipo de dispositivos y un diseño único y exclusivo
                          </p>
                        </div>
                        
                        <div class="slide p-3">
                            <h2 class="titulo text-dark">Comercio online</h2>
                            <p class="subtitulo text-primary">
                              <strong class="text-info">¿ Quieres vender productos en linea ? </strong>Creo para ti tu tienda online autogestionable y con analiticas detalladas para que no te pierdas nada de lo que pasa en tu web. 
                            </p>
                          </div>

                          <div class="slide p-3">
                              <h2 class="titulo text-dark">Marketing online</h2>
                              <p class="subtitulo text-primary">
                                <strong class="text-info">¿ Quieres destacar entre tu competencia ? </strong> Porque hoy en dia ante tal cantidad de competencia en la web, es imprescindible hacer despegar nuestro negocio y no solo vale con crear una web, en Tempus code te ofrezco un servicio de gestión de SEO y SEM para hacerte llegar a lo más alto y quue no te dejes nada por el camino.
                              </p>
                            </div>

                          <div class="slide p-3">
                              <h2 class="titulo text-dark">Atención personalizada</h2>
                              <p class="subtitulo text-primary">
                                  <strong class="text-info">En Tempus Code</strong> ofrezco soluciones individualizadas, porque cada cliente es un mundo y requiere de un trato único y altamente especializado en sus necesidades.
                                </p>
                            </div>

                      </article>

                      <div id="botones" class="botones">
                      </div>

                    </section>


                  </div>
                </div><!-- End Info row-->
          
                <div class="row">
                    <div class="col-12 social-info text-center pt-5">  
                        <a class="github" href="https://github.com/ChemaAlfonso"><i class="fab fa-github"></i></a>
                        <a class="facebook" href="https://github.com/ChemaAlfonso"><i class="fab fa-facebook-f text-white"></i> </a>
                        <a class="youtube" href="https://github.com/ChemaAlfonso"><i class="fab fa-youtube text-white"></i></a>
                    </div>
                </div><!-- End Social row-->

          
              </div> <!-- End big second col-->
          </div> <!-- End Second row-->

        </div><!-- End main col-->
    </div><!-- End Container-->
  </div> <!-- End Main row-->
</div>